<h1>Woohoo! I'm going to Bonnaroo!</h1>

<%= link_to "Contact Driver", register_path(user_type: :rider, contact_driver: true) %>

<%= link_to "Book a Seat", register_path(user_type: :rider, contact_driver: false) %>
