<main>
  <nav>
    <h1>COAST CAR</h1>
    <ul>
      <li>Become a driver</li>
      <li>How it works</li>
    </ul>
  </nav>
</main>
<h1>Pages#add_trips</h1>
<p>Find me in app/views/pages/add_trips.html.erb</p>
