<main>
  <section class="intro">
    <nav>
      <h1>COAST CAR</h1>
      <ul>
        <li><a href="">Become a driver</a></li>
        <li><a href="">How it works</a></li>
      </ul>
    </nav>
    <section class="where">
      <h1>Road trips made simple.</h1>
    </section>
    <section>
    <%= link_to "Find a ride", current_user ?
        find_a_ride_path :
        register_path(user_type: :rider) %><br/>
    <%= link_to "Offer a ride", current_user ?
        offer_a_ride_path :
        register_path(user_type: :driver) %>
  </section>
    <section class="destinations">
      <div class="cards">
        <div class="card">
          <div class="card-image">
            <%= image_tag "bonnaroo.jpg" %>
          </div>
          <div class="card-header">
            Los Angeles, CA -> Manchester, TN
          </div>
          <div class="card-copy">
            <p><a href="">#bonnaroo</a> <a href="">#festival</a> I'm heading to Bonnaroo!</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
          </div>
          <div class="card-header">
            Another Card
          </div>
          <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
          </div>
          <div class="card-details">
            Seats: 3
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
          </div>
          <div class="card-header">
            The Last Card
          </div>
          <div class="card-copy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
