/** Reset **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** Fonts **/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/** Page Styles **/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  color: #1b1b1b;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  color: #fff;
}

.intro {
  width: 100%;
  background: image-url("sand-background-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 10px solid #F5A623;
}

nav {
  @include outer-container;
  line-height: 70px;
  padding: 1em 0;
  h1 {
    @include span-columns(4);
    font-size: 3em;
    img {
      max-height: 42px;
      vertical-align: baseline;
    }
    a:hover {
      text-decoration: none;
    }
  }
  ul {
    font-size: 1.5em;
    @include span-columns(8);
    text-align: right;
    vertical-align: middle;
    li {
      display: inline;
      margin-left: 2em;
    }
    .username {
      text-transform: capitalize;
    }
    .offerbtn {
      border-radius: 5px;
      padding: 6px 18px;
      background: #F5A623;
      box-shadow: 0 2px 0 rgba(0, 0, 0, .4);
    }
  }
}

.where {
  @include outer-container;
  h1 {
    padding-top: .5em;
    @include span-columns(12);
    text-align: center;
    font-size: 6em;
    text-shadow: -2px 4px 0 rgba(0, 0, 0, .4);
  }
}

.destinations {
  @include outer-container;
  margin-top: 4em;
}

.howitworks {
  background: #fefefe;
  width: 100%;
  color: #1b1b1b;
  border-top: 10px solid #F5A623;
  padding-bottom: 4em;
  article {
    @include outer-container;
    h1 {
      font-size: 3em;
      padding: 1em 0;
      color: #aaa;
    }
    p {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    ul {
      font-size: 1.2em;
      list-style-type: disc;
      li {
        margin-left: 2em;
        margin-bottom: 1em;
      }
    }
  }
}
/** Refills **/

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: 5em;
}

.card {
  color: #1b1b1b;
  font-family: sans-serif;
  $base-border-color: #efefef !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;
  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  margin: 0 $card-margin 0 $card-margin;
  position: relative;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #F5A623;
  }
  a:hover {
    text-decoration: underline;
  }
  .price {
    height: 0;
    line-height: 0;
    position: relative;
    bottom: 31px;
    padding: 5px 1em;
    color: #fff;
    z-index: 9001;
    font-size: 1.5em;
    background: #F5A623;
    small {
      font-size: .5em;
      vertical-align: super;
    }
  }
  .card-image {
    overflow: hidden;
    height: 180px;
    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }
  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    small {
      text-transform: uppercase;
      font-size: 10px;
      vertical-align: middle;
      display: block;
      text-align: left;
      font-weight: normal;
    }
  }
  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    border-radius: 0 0 $base-border-radius $base-border-radius;
    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
}
/** Signup **/

.register {
  width: 100%;
  height: 100vh;
  background: image-url("sand-background-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 10px solid #F5A623;
}

.signup {
  @include outer-container;
}

.modal {
  padding: 3em 6em 6em 6em;
  color: #1b1b1b;
  text-align: center;
  margin-top: 3em;
  @include shift(3);
  @include span-columns(6);
  background: rgba(255, 255, 255, .85);
  border-radius: 4px;
  h1 {
    font-size: 2em;
    padding: 0 0 1em 0;
  }
  div {
    border-radius: 3px;
    cursor: pointer;
    a {
      padding-left: 10px;
      font-size: 1.3em;
    }
  }
  .twitter {
    padding: 20px;
    background: #00a0d1;
    margin-bottom: 1em;
  }
  .facebook {
    padding: 20px;
    background: #3b5998;
  }
}

.add-trip {
  width: 100%;
  height: 300vh;
  background: image-url("sand-background-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 10px solid #F5A623;
}

.register-next {
  width: 100%;
  background: image-url("sand-background-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 10px solid #F5A623;
}

.create-driver {
  .modal {
    padding: 3em 6em 6em 6em;
    color: #1b1b1b;
    text-align: left;
    margin-top: 3em;
    @include shift(3);
    @include span-columns(6);
    background: rgba(255, 255, 255, .9);
    border-radius: 4px;
    h1 {
      font-size: 2.5em;
      padding: 0 0 1em 0;
      text-align: center;
    }
    label {
      display: block;
      padding: 1em 0 .5em 0;
      font-size: 1.5em;
    }
    input {
      display: block;
      height: 40px;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 100%;
      padding: 6px 30px;
      font-family: "Open Sans Condensed";
      font-size: 1.2em;
      color: #555;
      background: #fefefe;
      text-transform: capitalize;
      &[type="checkbox"] {
        display: inline-block;
        width: 20px;
        position: relative;
        top: 10px;
        left: 15px;
      }
      @include placeholder {
        font-style: italic;
        text-transform: capitalize;
      }
    }
    .same-line {
      display: inline-block;
      min-width: 140px;
    }
    textarea {
      display: block;
      height: 120px;
      border-radius: 3px;
      border: 1px solid #ddd;
      width: 100%;
      padding: 6px 30px;
      font-family: "Open Sans Condensed";
      font-size: 1.2em;
      color: #555;
      background: #fefefe;
      @include placeholder {
        font-style: italic;
      }
    }
    select {
      display: inline-block;
      height: 40px;
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 6px 30px;
      min-width: 140px;
      font-size: 1.1em;
      color: #555;
      font-family: "Open Sans Condensed";
      background: #fefefe;
    }
    input:last-child {
      display: block;
      padding: 0;
      margin: 1em auto;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1.5em;
      background: #00a0d1;
      margin-bottom: 1em;
      border: none;
      color: #fff;
      line-height: 60px;
      height: 60px;
    }
  }
}

.thanks-main {
  height: 100vh;
  width: 100%;
  background: image-url("sand-background-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 10px solid #F5A623;
}

.thanks {
  .modal {
    padding: 3em 3em 3em 3em;
    color: #1b1b1b;
    text-align: left;
    margin-top: 3em;
    @include shift(3);
    @include span-columns(6);
    background: rgba(255, 255, 255, .9);
    border-radius: 4px;
    h1 {
      font-size: 2em;
      padding: 0 0 1em 0;
      text-align: center;
    }
    p {
      font-size: 1.5em;
      line-height: 1.5em;
      text-align: center;
    }
    .thanks-home {
      display: block;
      padding: 0;
      margin: 1em auto;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1.5em;
      background: #00a0d1;
      margin-bottom: 1em;
      border: none;
      color: #fff;
      line-height: 60px;
      width: 200px;
      height: 60px;
      text-align: center;
    }
  }
}